
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <div class="row">
      <div class="col-sm-4">
        <p id="trademark">Dan McCall 2019</p>
      </div>
      <div class="col-sm-4">

      </div>
        <div class="col-sm-4">
    <a href="https://www.facebook.com/profile.php?id=100008215361800"><i class="social-links fab fa-facebook-square fa-2x"></i></a>
    <a href="https://github.com/mccalldan"><i class="social-links fab fa-github fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/dan-mccall/"><i class="social-links fab fa-linkedin fa-2x"></i></a>
        </div>
  </div>
</div>
</body>
</html>
