
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <div class="row">
      <div class="col-sm-4">
        <p>Dan McCall 2019</p>
      </div>
      <div class="col-sm-4">

      </div>
        <div class="col-sm-4">
    <i class="social-links fab fa-facebook-square fa-2x"></i>
    <i class="social-links fab fa-github fa-2x"></i>
    <i class="social-links fab fa-linkedin fa-2x"></i>
        </div>
  </div>
</div>
</body>
</html>
