<%- include("partials/header"); -%>

<div class="portfolio animated fadeInLeft">
  <h1>Portfolio</h1>
  <p>Previous projects that I worked on with classmates and individually. More to come!</p>
</div>

<div class="row">
  <div class="col-md-4 project animated fadeInUp">
      <h4>Newsletter App</h4>
      <a href="https://powerful-earth-87870.herokuapp.com/"><i class="fas fa-newspaper fa-4x" id="newsletter-icon"></i></a>
  </div>
  <div class="col-md-4 project animated fadeInUp">
    <h4>Out of Context</h4>
    <a href="https://rmeaney.github.io/ooc/"><i class="fas fa-cut fa-4x" id="ooc-icon"></i></a>
  </div>
  <div class="col-md-4 project animated fadeInUp">
    <h4>Howler</h4>
      <a href="https://howler-44655.herokuapp.com/"><i class="fab fa-wolf-pack-battalion fa-4x"  id="howler-icon"></i></a>
  </div>

</div>

<%- include("partials/footer"); -%>
