<%- include("partials/header"); -%>

<div class="portfolio animated fadeInLeft">
  <h1>Portfolio</h1>

</div>

<div class="row">
  <div class="col-md-4 project animated fadeInUp">
    <p>Howler</p>
  </div>
  <div class="col-md-4 project animated fadeInUp">
    <p>Lords of Might</p>
  </div>
  <div class="col-md-4 project animated fadeInUp">
    <p>Out of Context</p>
  </div>

</div>



<%- include("partials/footer"); -%>
