<%- include("partials/header"); -%>

<h1>About Me</h1>

<p>Constantly adapting, hard-working individual who is chasing after a full-time web-development position.</p>

<%- include("partials/footer"); -%>
