<%- include("partials/header"); -%>

<div class="jumbotron contact">
<h1 class="pageTitle">Contact Me</h1>

<p class="lead text-muted">Email: dan.r.mccall@gmail.com</p>
<p class="lead text-muted">Phone: (919) 308-4105</p>
<p class="lead text-muted">LinkedIn: Dan McCall</p>
</div>

<%- include("partials/footer"); -%>
