<%- include("partials/header"); -%>

<div class="contact animated slideInLeft">
<h1>Contact Me</h1>

<p class="contact-details">Email: dan.r.mccall@gmail.com</p>
<p class="contact-details">Phone: (919) 308-4105</p>
<p class="contact-details">LinkedIn: Dan McCall</p>
</div>

<%- include("partials/footer"); -%>
