<%- include("partials/header"); -%>

<div class="contact animated slideInLeft">
<h1>Contact Me</h1>

<h4>Email: dan.r.mccall@gmail.com</h4>
<h4>Phone: (919) 308-4105</h4>
<h4>LinkedIn: Dan McCall</h4>
</div>

<%- include("partials/footer"); -%>
