<%- include("partials/header"); -%>

<div class="home animated fadeInDown delay-1s">
<div class="row">
  <div class="col-sm-6">
    <h1>Hardworking, Driven, <br> Creative Problem-Solver</h1>
    <p> My background has been in financial services, insurance, and the restuarant/hospitality industry.
       Now, as a relative newcomer to coding, I am excited to continue my journey into a career in web development!</p>
  </div>
  <div class="col-sm-6" id="headshot">
    <img src="/images/dan.jpg" alt="dan" height="232px" width="174px" id="dan">
  </div>

</div>

</div>








<%- include("partials/footer"); -%>
