<%- include("partials/header"); -%>

<div class="home animated fadeInDown delay-1s">
  <h1 class="">Welcome!</h1>

  <p>This is some general text here for an opening...</p>
</div>






<%- include("partials/footer"); -%>
