body {
  /* background-image: url("/images/fall-forest.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
}

a {
  color: #DBE9EE !important;
  font-size: 1.5rem;

}

.container-fluid {
    padding-top: 70px;
    /* padding-bottom: 70px; */
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #312F2F;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}



.navbar-brand {
  font-size: 4rem;
  color: #DBE9EE !important;
}

#home {
  color: white;
}

#navtainer {
  background-color: #312F2F;
}


#contentainer {
    margin-bottom: 115px;
}

/* Home Page Styling */

.home {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 5px;
  width: 100%;
  height: 400px;
}

#headshot {
  margin-top: 50px;
}

#dan {
  border-radius: 25px;
  border-style: solid;
  border-color: #4F6D7A;
  border-width: 10px;
}
/* Portfolio Page Styling */

.portfolio {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 5px;
  /* width: 100%; */
  height: 100px;
}

.project {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 5px;
  height: 100px;
}

/* Contact Page Styling */

.contact {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: solid;
  border-width: 5px;
  width: 100%;
  height: 400px;
}

/* Footer Styling */

.footer-padding {
	/* padding-bottom: 60px; */
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 75px;
	background-color: #4F6D7A;

}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
  /* width: 30%; */
}

.fab {
  color: #DBE9EE;
  margin-top: 20px;
  margin-right: 20px;
}

/* Mobile Styling */

@media screen and (max-width: 768px) {
    .home {
      color: white;
    }
    .footer {
      position: relative;
      height: 125px;
    }
    #contentainer {
      margin-bottom: 0px;
    }
}
